@import "tailwindcss";

@theme {
  --font-burtons: "burtons";
  --breakpoint-3xl: 2560px;
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}